<% css_class = Select2BikeBinder::Builder::ModelNestedBrandSelect::Selector  %>
<% css_sel = css_class[] %>
<style>
table.<%=css_sel%> tr td{
  border:1px solid #999;
  border-width: 1px 0px 0px 0px;
  margin: 0px;
}
table.<%=css_sel%> tr td.toggle{
padding-right: 10px;
}
</style>

<% f = form_builder %>

<p><%= value %>Brand and Model Information</p>
<table class="<%= css_sel %>">
  <tr>
    <td class="toggle">
      <label class="radio" value"lookup">
	<%= f.radio_button :brand_action, 'lookup', :checked => true %>
	Lookup
      </label>
      <% f.label :brand_action, "Lookup", :value => 'lookup' %>
    </td>
    <td class="lookup">
      <% nested_model_optns = {:param_key => 'bike_model_id', :tagging=>true, :value=>value} %>
      <%=  render Select2BikeBinder::Builder::ModelNestedBrandSelect.new(f, nested_model_optns ) %>
    </td>
  </tr>

  <tr>
    <td class="toggle">
      <label class="radio" value="create">
	<%= f.radio_button :brand_action, 'create', :checked => false %>
	Create
      </label>
    </td>
    <td class="create">
      
      <%= f.label :bike_brand_name do %>
        Brand
        <%= f.text_field :bike_brand_name, :required => false, :class=>css_class[:brand_name] %>
        <%= f.hidden_field :bike_brand_id, :required => false, :class=>css_class[:brand_id] %>
      <% end %>
      <br />
      <%= f.label :bike_model_name do %>
        Model
        <%= f.text_field :bike_model_name, :required => false, :class=>css_class[:model_name] %>
      <% end %>
    </td>
  </tr>
</table>
