<% css_sel = Select2BikeBinder::Builder::ModelNestedBrandSelect.selector_class  %>
<style>
table.<%=css_sel%> tr td{
  border:1px solid #999;
  border-width: 1px 0px 0px 0px;
  margin: 0px;
}
</style>

<% f = form_builder %>

<p><%= value %>Brand and Model Information</p>
<table class="<%=Select2BikeBinder::Builder::ModelNestedBrandSelect.selector_class %>">
  <tr>
    <td>
      <%= f.radio_button :brand_action, 'lookup', :checked => true %>
      <%= f.label :brand_action, "Lookup", :value => 'lookup' %>
    </td>
    <td class="lookup">
      <% nested_model_optns = {:param_key => 'bike_model_id', :tagging=>true, :value => value} %>
      <%=  render Select2BikeBinder::Builder::ModelNestedBrandSelect.new(f, nested_model_optns ) %>
    </td>
  </tr>

  <tr>
    <td>
      <%= f.radio_button :brand_action, 'create', :checked => false %>
      <%= f.label :brand_action, "Create", :value=>"create" %>
    </td>
    <td class="create">
      <%= f.label :bike_brand_id, "Brand" %>
      <% bike_brand_optns = {:param_key => 'bike_brand_id', :enabled=>false, 
      :tagging=>true, :disable=>true} %>
      <%= render Select2BikeBinder::Builder::BrandSelect.new(f, bike_brand_optns ) %>
      <br />
      <%= f.label :bike_model_name, "Model" %>
      <% bike_model_optns = {:param_key => 'bike_model_name', :enabled=>false, 
      :tagging=>true, :disable=>true} %>
      <% f.text_field :bike_model_name, :required => false %>
      <%= render Select2BikeBinder::Builder::ModelSelect.new(f, bike_model_optns) %>
    </td>
  </tr>
</table>
