<% css_class = Select2BikeBinder::Builder::ModelNestedBrandSelect::Selector  %>
<% css_sel = css_class[] %>
<style>
table.<%=css_sel%> tr td{
  border-color:#999;
  border-width: 1px 0px;
  margin: 0px;
}
table.<%=css_sel%> tr td.toggle{
padding-right: 10px;
}
</style>

<% f = form_builder %>
<table class="<%= css_sel %> table table-bordered">
  <tbody>
  <tr>
    <td class="toggle">
      <label class="radio" value="lookup">
	<%= f.radio_button :brand_action, 'lookup', :checked => true, :class=>"radio" %>
	Lookup
      </label>
    </td>
    <td class="lookup">
      <% nested_model_optns = {:param_key => 'bike_model_id', :tagging=>true, :value=>value} %>
      <%=  render Select2BikeBinder::Builder::ModelNestedBrandSelect.new(f, nested_model_optns ) %>
    </td>
  </tr>

  <tr>
    <td class="toggle">
      <label class="radio" value="create">
	<%= f.radio_button :brand_action, 'create', :checked => false, :class=>"radio" %>
	Create
      </label>
    </td>
    <td class="create">
      <%= f.label :bike_brand_name do %>
        Brand
        <%= f.text_field :bike_brand_name, :required => false, 
	:class=>"#{css_class[:brand_name]} #{css_class[:taginp]}" %>
        <%= hidden_field_tag css_class[:model_constraint], nil, 
	    :required => false, 
	    :class=>css_class[:model_constraint] %>
      <% end %>
      <br />
      <%= f.label :bike_model_name do %>
        Model
        <%= f.text_field :bike_model_name, :required => false, 
	:class=>"#{css_class[:model_name]} #{css_class[:taginp]}" %>
      <% end %>
    </td>
  </tr>
  </tbody>
</table>
