<% obj = color_select %>


<select id="<%= obj.id %>" style="<%= obj.css_style %>" class="<%= obj.css_class %>">
  <option value=""></option>
  <%   ColorNameI18n::keys.each do |k|     %>
  <% n = ColorNameI18n::Color.new(k).name.capitalize %>
  <option value="<%= k %>"><%= n %></option>
  <% end %>
</select>
